<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Biblioteca.Properties.Settings.LibaryConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Libary;User ID=desenvolvedor;Password=desenvolvedorsenac"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>